{% extends "admin/base.html" %}
{% load staticfiles %}

{% block extrastyle %}
    <link href="{% static 'css/selectize.default.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block extrahead %}
    <!--- django admin style override to make taggit autocomplete work --->
    <style>
        div.field-tags {
            overflow: visible;
        }
    </style>
{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django Admin') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block footer %}
    <div id="footer"></div>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="{% static 'js/selectize.js' %}"></script>
    <script>
    $('#id_tags').selectize({
    valueField: 'name',
    labelField: 'name',
    searchField: 'name',
    create: true,
    render: {
        option: function(item, escape) {
            return '<div>' +
                '<span class="title">' +
                    '<span class="name">' + escape(item.name) + '</span>' +
                '</span>' +
            '</div>';
        }
    },
    score: function(search) {
        var score = this.getScoreFunction(search);
        return function(item) {
            return score(item);
        };
    },
    load: function(query, callback) {
        if (query.length < 2) return callback();
        $.ajax({
            url: '/taggit/?query=' + encodeURIComponent(query),
            type: 'GET',
            error: function() {
                callback();
            },
            success: function(res) {
                callback(res.tags.slice(0, 10));
            }
        });
    }
});
    </script>
{% endblock %}